[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "self.area.config.type == 'joker' and"
times = 1
position = "at"
payload = ""
match_indent = true

# level up context patches for SMODS.upgrade_poker_hands
[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "displayed = hand == SMODS.displayed_hand"
times = 1
position = "after"
payload = '''
local before_chips = 0
local before_mult = 0
local after_chips = 0
local after_mult = 0
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "G.GAME.hands[hand][parameter] = args.func(G.GAME.hands[hand][parameter], hand, parameter)"
times = 1
position = "before"
payload = '''
if parameter == "chips" then before_chips = G.GAME.hands[hand][parameter] end
if parameter == "mult" then before_mult = G.GAME.hands[hand][parameter] end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "G.GAME.hands[hand][parameter] = args.func(G.GAME.hands[hand][parameter], hand, parameter)"
times = 1
position = "after"
payload = '''
if parameter == "chips" then after_chips = G.GAME.hands[hand][parameter] end
if parameter == "mult" then after_mult = G.GAME.hands[hand][parameter] end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = "if not instant then delay(1.3) end"
times = 1
position = "before"
payload = '''
if (after_chips - before_chips) ~= 0 or (after_mult - before_mult) ~= 0 then
    SMODS.calculate_context({
	    hpr_level_up_hand = true,
	    other_card = args.from,
	    hand_type = hand,
	    instant = instant,
	    chips = after_chips - before_chips,
	    mult = after_mult - before_mult,
	    levels = type(args.level_up) == 'number' and args.level_up or 1
    })
end
'''
match_indent = true