[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "self.area.config.type == 'joker' and"
times = 1
position = "at"
payload = ""
match_indent = true
