[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "bonus_chips = bonus_chips ~= 0 and bonus_chips or nil,"
position = "after"
payload = '''
bonus_eff_mod = self.ability.perma_eff_mod ~= 0 and (self.ability.perma_eff_mod + 1) or nil,
hpr_num_bonus = self.ability.hpr_num_bonus ~= 0 and self.ability.hpr_num_bonus or nil,
hpr_denom_bonus = self.ability.hpr_denom_bonus ~= 0 and self.ability.hpr_denom_bonus or nil,
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "perma_repetitions = self.ability and self.ability.perma_repetitions or 0,"
position = "after"
payload = '''
perma_eff_mod = self.ability and self.ability.perma_eff_mod or 0,
hpr_num_bonus = self.ability and self.ability.hpr_num_bonus or 0,
hpr_denom_bonus = self.ability and self.ability.hpr_denom_bonus or 0,
'''
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
pattern = '''
if specific_vars and specific_vars.bonus_repetitions then
        localize{type = 'other', key = 'card_extra_repetitions', nodes = desc_nodes, vars = {specific_vars.bonus_repetitions, localize(specific_vars.bonus_repetitions > 1 and 'b_retrigger_plural' or 'b_retrigger_single')}}
    end
'''
position = "after"
payload = '''
if specific_vars and specific_vars.bonus_eff_mod then
    localize{type = "other", key = "card_extra_eff_mod", nodes = desc_nodes, vars = {specific_vars.bonus_eff_mod}}
end
if specific_vars and specific_vars.hpr_num_bonus then
    localize{type = "other", key = "hpr_num_bonus", nodes = desc_nodes, vars = {specific_vars.hpr_num_bonus}}
end
if specific_vars and specific_vars.hpr_denom_bonus then
    localize{type = "other", key = "hpr_denom_bonus", nodes = desc_nodes, vars = {specific_vars.hpr_denom_bonus}}
end
'''
match_indent = true
times = 1